@model IEnumerable<LiteBoard.Models.Project>
@using Humanizer


<!-- Latest Updates start -->
<div class="p-xl-0">
	<div class="rounded-3 ">
		<!-- Dashboard menu -->
		<div class="list-group list-group-dark list-group-borderless">
			<a class="list-group-item active">Dashboard</a>

				@foreach (var item in Model)
				{
					var activities = item.Activities.AsEnumerable(); // extract the activities into seperate collection

					foreach (var activity in activities.OrderByDescending( activity => activity.UpdatedDate))
					{
						if (activity.Description == "completed_task")
						{
							double timestamp = activity.CreatedDate.ToOADate();
							var timeSpan = DateTime.FromOADate(timestamp).AddMicroseconds(-timestamp).Humanize();
							<a class="list-group-item" href="~/projects/details/@item.Id">You completed <span class="text-warning">@activity.Subject</span><span class="text-secondary small"> @timeSpan</span></a>
						}
						if (activity.Description == "incompleted_task")
						{
							double timestamp = activity.CreatedDate.ToOADate();
							var timeSpan = DateTime.FromOADate(timestamp).AddMicroseconds(-timestamp).Humanize();
							<a class="list-group-item" href="~/projects/details/@item.Id">You incompleted <span class="text-warning">@activity.Subject</span><span class="text-secondary small"> @timeSpan</span></a>
						}
						if (activity.Description == "created_task")
						{
							double timestamp = activity.CreatedDate.ToOADate();
							var timeSpan = DateTime.FromOADate(timestamp).AddMicroseconds(-timestamp).Humanize();
						<a class="list-group-item" href="~/projects/details/@item.Id">You created <span class="text-warning">@activity.Subject</span> in <span class="text-warning">@item.Title</span> <span class="text-secondary small"> @timeSpan</span></a>
						}
						if (activity.Description == "created_project")
						{
							double timestamp = activity.CreatedDate.ToOADate();
							var timeSpan = DateTime.FromOADate(timestamp).AddMicroseconds(-timestamp).Humanize();
							<a class="list-group-item" href="~/projects/details/@item.Id">You created <span class="text-warning">@activity.Subject</span><span class="text-secondary small"> @timeSpan</span></a>
						}
						if (activity.Description == "updated_title")
						{
							double timestamp = activity.UpdatedDate.ToOADate();
							var timeSpan = DateTime.FromOADate(timestamp).AddMicroseconds(-timestamp).Humanize();
							<a class="list-group-item" href="~/projects/details/@item.Id">You Changed the Project Title  <span class="text-warning">@Html.Raw(activity.Subject)</span><span class="text-secondary small"> @timeSpan</span></a>
						}
						if (activity.Description == "updated_notes")
						{
							double timestamp = activity.UpdatedDate.ToOADate();
							var timeSpan = DateTime.FromOADate(timestamp).AddMicroseconds(-timestamp).Humanize();
							<a class="list-group-item" href="~/projects/details/@item.Id">You updated the Notes in <span class="text-warning">@item.Title</span><span class="text-secondary small"> @timeSpan</span></a>
						}
					}
				}
		</div>
	</div>
</div>
<!-- Latest Updates End -->